main {
	background-color: #93BFCF;
}
.header {
	padding: 0rem 10rem 0rem 10rem;
	border-bottom: 1px solid #eaeaea;
	background-color: #93BFCF;
}
.footer {
	padding: 0rem 10rem 0rem 10rem;
	border-top: 1px solid #eaeaea;
	max-height: 2rem;
	background-color: #93BFCF;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #93BFCF;
}

/* CSS styling for MUI components through global.css is useless */
/* .card {
	background-color: #93BFCF;
	border: none;
	box-shadow: none;
	padding-left: 1rem;
	padding-bottom: 3rem;
}

.innerCard {
	background-color: #93BFCF;
	border: none;
	box-shadow: none;
	padding-left: 0rem;
	padding-bottom: 3rem;
} */

/* .MuiCard-root {
	background-color: '#93BFCF';
	border: none;
	box-shadow: none;
	padding-left: 1rem;
	padding-bottom: 3rem;
} */

.cardTitle {
	margin-top: 3rem;
	margin-bottom: 0.5rem;
	font-size: 2.5rem;
}

.cardContent {
	font-family: monospace;
	font-size: 1.7rem;
	line-height: 1.3;
	max-width: 85%;
	margin: 0.5rem;
}

.innerCardContent {
	font-family: monospace;
	font-size: 1.2rem;
	line-height: 1.3;
	max-width: 85%;
	margin: 0.5rem;
}

@media (min-width: 600px) {
	.card {
		padding-left: 2rem;
	}
	
	.cardTitle {
		margin-top: 5rem;
		font-size: 3rem;
	}

	.cardContent {
		font-size: 2rem;
	}
}

/* CSS for a is updated */
/* a {
	font-family: monospace;
	color: white;
} */

/* @media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: #93BFCF;
	}
}
.empty-space {
	padding-top: 3rem;
}
.flex {
	display: flex;
	flex: 1;
}
.navbar {
	display: flex;
	padding: 1rem;
	font-size: 1.5rem;
}
.brand {
	width: 12rem;
	font-weight: bolder;
}
.navbar-items-left {
	justify-content: left;
	align-items: left;
	width: 12rem;
}
.navbar-items-right {
	justify-content: right;
	align-items: right;
	width: 11rem;
}
.navbar-item {
	padding: 0rem 0.8rem 0rem 0.8rem;
}
.navbar-item:hover {
	text-decoration: underline;
	transform: scale(1.3);
}
.container {
	padding: 1rem 1rem 10rem 1rem;
	justify-content: center;
}
.card {
	margin: 2rem 0rem 2rem 0rem;
	line-height: 1;
	font-size: 1rem;
}
.cardTitle {
	font-size: 3rem;
	line-height: 1;
	font-weight: bold;
}
.cardText {
	font-size: 2rem;
	line-height: 1.3;
	width: 50rem;
}
.contact {
	width: 80rem;
}
.error {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.link {
	text-decoration: underline;
	font-weight: bold;
}
.link:hover {
	transform: scale(1.3);
} */