html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: monospace;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

.empty-space {
	width: 100%;
	padding-top: 3rem;
}

.flex {
	display: flex;
	flex: 1;
}

.footer {
	padding: 2rem 0rem 0rem 2rem;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.navbar {
	width: 100%;
	padding: 1rem;
	padding-top: 3rem;
	font-size: 1.5rem;
}

.brand {
	width: 10rem;
}

.navbar-items {
	justify-content: right;
	align-items: right;
}

.navbar-item {
	padding: 0rem 1rem 1rem 0rem;
}
