html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #395d74;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: monospace;
	color: white;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: #395d74;
	}
}

main {
	background-color: #395d74;
}

.empty-space {
	padding-top: 3rem;
	background-color: #395d74;
}

.flex {
	display: flex;
	flex: 1;
}

.header {
	padding: 0rem 10rem 0rem 10rem;
	border-bottom: 1px solid #eaeaea;
}

.footer {
	padding: 0rem 10rem 0rem 10rem;
	border-top: 1px solid #eaeaea;
	max-height: 2rem;
}

.navbar {
	display: flex;
	padding: 1rem;
	font-size: 1.5rem;
}

.brand {
	width: 12rem;
	font-weight: bolder;
}

.navbar-item:hover {
	text-decoration: underline;
	transform: scale(1.3);
}

.cardTitle {
	font-size: 3rem;
	line-height: 1;
	font-weight: bold;
}

.cardText {
	font-size: 2rem;
	line-height: 1.3;
	width: 50rem;
}

.contact {
	width: 80rem;
}

.error {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link {
	text-decoration: underline;
	font-weight: bold;
}

.link:hover {
	transform: scale(1.3);
}
