.container {
	margin-top: 5rem;
	padding: 3rem;
}

.link {
	font-family: monospace;
	color: white;
}

.title {
	text-align: center;
	font-size: 3rem;
}

.profilePic {
	display: flex;
	justify-content: center;
}

.borderCircle {
	border-radius: 9999px;
}

.introduction {
	font-size: 3rem;
	text-align: center;
	text-decoration: underline;
}

.column {
	display: flex;
	justify-content: center;
	margin: 1rem;
}

.button {
	height: 50px;
	font-size: 1rem;
	margin: 0.3rem;
	background-color: #6096B4;
}

@media (min-width: 600px) {
	.container {
		margin: 3rem;
		padding: 3rem;
	}

	.column {
		margin: 0.5rem;
	}

	.button {
		margin: 1rem;
	}
}